.monthsY__months__wrapper {
  height: 260px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* border: 1px blue solid; */
}

.monthsY__months__items {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.2px black solid;
  background-color: tomato; */
}

.monthsY__month__span {
  cursor: pointer;
  transition: 0.1s;
  padding: 2.5px 7px;
  border-radius: 3px;
}

.monthsY__month__span:hover {
  color: #34b505;
  background-color: #daffcc;
}

.active__month__span {
  color: #34b505;
  font-weight: bold;
  background-color: #daffcc;
}
