.calendar__months {
    padding: 4px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.calendar__months__item {
    padding: 6px 0px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px red solid; */
}

.calendar__month__span {
    cursor: pointer;
    padding: 5px 7px;
    transition: 0.1s;
    border-radius: 3px;
    /* border: 1px red solid; */
}

.calendar__current__month {
    color: #34B505;
    font-weight: bold;
    background-color: #DAFFCC;
}

.calendar__month__span:hover {
    color: #34B505;
    background-color: #DAFFCC;
}